In [19]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import csv
from scipy.stats import sem

In [20]:
# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

In [21]:
drug_data = pd.read_csv(mouse_drug_data_to_load)
trial_data = pd.read_csv(clinical_trial_data_to_load)

In [22]:
drug_data.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [23]:
trial_data.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [24]:
#merge the two data frames into one
mouse_df = pd.merge(drug_data, trial_data, on=("Mouse ID"))
mouse_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

# Tumor Response to Treatment

In [25]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
# calculate the mean and the standard error of the mean for the "Tumor Volume (mm3)" column
# Preview DataFrame
tumor_vol_df = mouse_df.groupby(["Drug", "Timepoint"]).agg({"Tumor Volume (mm3)" :["mean", "sem"]})

In [26]:
tumor_vol_df.head()

                    Tumor Volume (mm3)
                                  mean       sem
Drug      Timepoint
Capomulin 0                  45.000000  0.000000
          5                  44.266086  0.448593
          10                 43.084291  0.702684
          15                 42.064317  0.838617
          20                 40.716325  0.909731

In [28]:
#create a list of the tumor volume mean for each of the four drugs being compared
cap_vol_mean = tumor_vol_df.loc["Capomulin"].loc[:,"Tumor Volume (mm3)"].loc[:,"mean"].tolist()
inf_vol_mean = tumor_vol_df.loc["Infubinol"].loc[:, "Tumor Volume (mm3)"].loc[:,"mean"].tolist()
keta_vol_mean = tumor_vol_df.loc["Ketapril"].loc[:, "Tumor Volume (mm3)"].loc[:,"mean"].tolist()
pla_vol_mean = tumor_vol_df.loc["Placebo"].loc[:, "Tumor Volume (mm3)"].loc[:,"mean"].tolist()

In [29]:
#create a list of the volume standard error for each of the four drugs being compared
cap_vol_sem = tumor_vol_df.loc["Capomulin"].loc[:,"Tumor Volume (mm3)"].loc[:,"sem"].tolist()
inf_vol_sem = tumor_vol_df.loc["Infubinol"].loc[:, "Tumor Volume (mm3)"].loc[:,"sem"].tolist()
keta_vol_sem = tumor_vol_df.loc["Ketapril"].loc[:, "Tumor Volume (mm3)"].loc[:,"sem"].tolist()
pla_vol_sem = tumor_vol_df.loc["Placebo"].loc[:, "Tumor Volume (mm3)"].loc[:,"sem"].tolist()